{% load static %}
<div class="post-card">
    <div class="user-details d-flex border-bottom border-default align-items-center pb-2 px-2">
        <img src="{% if image.user.avatar %} {{image.user.avatar}} {% else %} {{image.user.fallback_avatar}} {% endif %}"
            alt="{{image.user}}" class="img-40 rounded-circle">
        <a href="{% url 'user_profile' user_id=image.user.username %}">
            <h5 class="fw-bold ps-3 text-capitalize mb-0 text-dark">{{image.user.full_name}}</h5>
        </a>
    </div>
    <a href="{% url 'single_image' id=image.id %}" class="post-details">
        <img src="{{image.image_url}}" alt="" class="post-image img-fluid">
    </a>
    <div class="px-2">
        <h3 class="fw-bold">{{image.title}}</h3>
        <p class="">
            {{image.caption | truncatechars:100}}
        </p>
    </div>
    <div class="cta pt-2">
        <div class="d-flex justify-content-center">
            {% if user.id == image.user.id %}
            <button disabled class="btn btn-sm me-1">
                <span class="material-icons">&#xe87e</span>
            </button>
            {% else %}
            <a href="{% url 'like_image' id=image.id %}" class="btn btn-sm me-1">
                <span class="material-icons">&#xe87e</span>
            </a>
            {% endif %}
            <a href="{% url 'single_image' id=image.id  %}#comment" class="btn btn-sm">
                <img src="{% static 'images/comment.svg' %}" alt="" class="img-fluid" style="height: 21px;">
            </a>

            <div class="date ms-auto text-muted pe-2">
                {{image.created_at}}
            </div>
        </div>
        <p class="text-muted px-2">
            {{image.likes_count}} likes
        </p>
    </div>
</div>