{% load static %}
<div class="post-card">
    <div class="user-details d-flex border-bottom border-default align-items-center pb-2 px-2">
        <img src="{{image.user.avatar}}" alt="{{image.user}}" class="img-40 rounded-circle">
        <a href="#">
            <h5 class="fw-bold ps-3 text-capitalize mb-0 text-dark">{{image.user.full_name}}</h5>
        </a>
    </div>
    <a href="{% url 'single_image' id=image.id %}" class="post-details">
        <img src="{{image.image_url}}" alt="" class="post-image img-fluid">
    </a>
    <div class="cta pt-2">
        <div class="d-flex justify-content-center">
            <button class="btn btn-sm me-1">
                <span class="material-icons">&#xe87e</span>
            </button>
            <button class="btn btn-sm pt-0">
                <img src="{% static 'images/comment.svg' %}" alt="" class="img-fluid">
            </button>

            <div class="date ms-auto text-muted pe-2">
                {{image.created_at}}
            </div>
        </div>
        <p class="text-muted px-2">
            {{image.likes_count}} likes
        </p>
    </div>
</div>