<div class="col-lg-4 offset-lg-1 d-none d-lg-initial p-2 suggested">
    <div class="position-sticky p-3 top-0">
        <h5 class="text-muted fw-bold">
            Suggested for you
        </h5>
        <div class="suggestions pt-3">
            <div class="suggestion-card mb-3">
                <div class="d-flex align-items-center">
                    <img src="https://avatars.githubusercontent.com/u/26818458?v=4" alt=""
                        class="img-30 rounded-circle">
                    <h6 class="fw-bold ps-3 text-capitalize mb-0">John Doe</h6>
                    <a href="#" class="ms-auto fw-bold text-sm">Follow</a>
                </div>
            </div>
            <div class="suggestion-card mb-3">
                <div class="d-flex align-items-center">
                    <img src="https://ui-avatars.com/api/?name=John+Doe&background=fff&color=8655ff"
                        alt="" class="img-30 rounded-circle">
                    <h6 class="fw-bold ps-3 text-capitalize mb-0">John Doe</h6>
                    <a href="#" class="ms-auto fw-bold text-sm">Follow</a>
                </div>
            </div>
            <div class="suggestion-card mb-3">
                <div class="d-flex align-items-center">
                    <img src="https://ui-avatars.com/api/?name=David+Woe&background=fff&color=8655ff"
                        alt="" class="img-30 rounded-circle">
                    <h6 class="fw-bold ps-3 text-capitalize mb-0">David Woe</h6>
                    <a href="#" class="ms-auto fw-bold text-sm">Follow</a>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <p class="text-muted copyright text-sm">
                © 2022 <a href="#" class="">Insta</a>
            </p>
        </div>
    </div>
</div>