{% extends 'base.html' %}

{% block 'content' %}

{% include 'partials/stories.html'   %}

<section class="py-5 posts container-sm" id="posts">
    <div class="row mx-0">
        <div class="col-lg-7 px-0">
            <div class="bg-light py-3">
                {% for image in images %}
                {% include 'partials/image-card.html' %}
                {% endfor %}
                {% if images|length == 0 %}
                <p class="text-center">No images yet, please follow people to see their posts</p>
                {% endif %}
            </div>
        </div>
        {% include 'partials/suggestions.html' %}
    </div>
</section>
{% endblock %}