{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<section class="py-5 posts container-xl" id="posts">
    <div class="row mx-0 mt-3 pt-5">
        <div class="col-lg-7 bg-light py-3 px-0">
            <div class="post-card">
                <div class="user-details d-flex border-bottom border-default align-items-center pb-2 px-2">
                    <img src="{% if image.user.avatar %} {{image.user.avatar}} {% else %} {{image.user.fallback_avatar}} {% endif %}" alt="{{image.user}}" class="img-40 rounded-circle">
                    <a href="{% url 'user_profile' user_id=image.user.id %}">
                        <h5 class="fw-bold ps-3 text-capitalize mb-0 text-dark">{{image.user.full_name}}</h5>
                    </a>
                </div>
                <div class="post-details">
                    <img src="{{image.image_url}}" alt="{{image.title}}" class="post-image img-fluid">
                </div>
                <div class="px-2">
                    <h3 class="fw-bold">{{image.title}}</h3>
                    <p class="">
                        {{image.caption}}
                    </p>
                </div>
                <div class="cta pt-2">
                    <div class="d-flex justify-content-center">
                        {% if user.id == image.user.id %}
                        <button disabled class="btn btn-sm me-1">
                            <span class="material-icons">&#xe87e</span>
                        </button>
                        {% else %}
                        <a href="{% url 'like_image' id=image.id %}" class="btn btn-sm me-1">
                            <span class="material-icons">&#xe87e</span>
                        </a>
                        {% endif %}

                        <button class="btn btn-sm pt-0">
                            <img src="{% static 'images/comment.svg' %}" alt="" class="img-fluid">
                        </button>

                        <div class="date ms-auto text-muted pe-2">
                            {{image.created_at}}
                        </div>
                    </div>
                    <p class="text-muted px-2">
                        {{image.likes_count}} likes
                    </p>
                </div>
            </div>
            <div class="comments px-2" id="comment">
                <div class="post-comment d-flex pb-3">
                    <img src="{% if user.avatar %} {{user.avatar}} {% else %} {{user.fallback_avatar}} {% endif %}" alt="" class="img-30 rounded-circle">
                    <div class="col ps-2">
                        <form action="{% url 'save_comment' image_id=image.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" required name="comment"
                                class="border border-primary form-control w-100 rounded-pill text-primary"
                                placeholder="Write a comment...">
                        </form>
                        <p class="text-muted text-sm">Press enter to post</p>
                    </div>
                </div>
                {% for comment in image.all_comments %}
                <div class="comment-card d-flex mb-3">
                    <div class="">
                        <img src="{% if comment.user.avatar %} {{comment.user.avatar}} {% else %} {{comment.user.fallback_avatar}} {% endif %}" alt="" class="img-30 rounded-circle">
                    </div>
                    <div class="ps-2 col">
                        <p class="mb-1">{{comment.comment}}</p>
                        <p class="text-end text-xs">{{comment.created_at}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include 'partials/suggestions.html' %}
    </div>
</section>
{% endblock 'content' %}