{% extends 'base.html' %}

{% block 'content' %}
<section id="body" class="pt-5">
    <div class="container-xl pt-4 pt-xl-5 mt-4">
        <div class="user-details row pb-2">
            <div class="col-3 col-md-2">
                <img src="{% if usr.avatar %} {{usr.avatar}} {% else %} {{usr.fallback_avatar}} {% endif %}"
                    alt="" class="img-60 rounded-circle">
            </div>
            <div class="h-100 pt-2 col-sm col-9">
                <h5 class="fw-bold text-capitalize mb-0 text-md-start">{{usr.full_name}}</h5>
                <div class="d-flex pt-2">
                    <div class="me-3">
                        <span class="fw-bold">{{images|length}}</span> posts
                    </div>
                    <div class="me-3">
                        <span class="fw-bold">{{user.following_count}}</span> following
                    </div>
                    <div class="me-3">
                        <span class="fw-bold">{{user.followers_count}}</span> followers
                    </div>
                </div>
            </div>
            <div class=" text-end col-12 col-sm mt-3 mt-sm-0">
                <a href="{% url 'follow_user' user_id=usr.id %}"
                    class="btn btn-primary text-white px-3 btn-sm">Follow</a>
            </div>
        </div>
        <div class="pt-4">
            <div class="row mx-0">
                <div class="col-12">
                    <h3 class="fw-bold">Posts</h3>
                    <hr class="mt-0">
                </div>
                {% for image in images %}
                <div class="col-sm-6 col-lg-4 col-xl-4 mb-3">
                    <a href="{% url 'single_image' id=image.id  %}">
                        <div class="post-card">
                            <img src="{{image.image_url}}" alt="" class="post-image img-fluid">
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% if images|length == 0 %}
                <p class="px-2">
                    No posts yet
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}